{% extends 'common/base.html' %}

{% block banner %}
    {% include 'common/banner.html' %}
{% endblock %}

{% block content %}
    <section id="main_section" class="tiles">
        {% for product in products %}

            <article style="background-image: url({{ product.image.url }});">

                <span class="image" style="display: none;">
                    <img src="{{ product.image.url }}" alt="">
                </span>

                <header class="major">
                    <h3><a href="{% url 'product_details' product.slug %}" class="link">{{ product.name }}</a></h3>
                    <p>
                        {{ product.preview_description }}<br>
                        Цена: {{ product.price }}
                    </p>
                </header>
                <a href="{% url 'product_details' product.slug %}" class="link primary"></a>

            </article>

        {% endfor %}
    </section>
{% endblock %}