{# footer.html #}
{# params: #}
{# - footer_external_pages: List[ExternalPage] #}
{# - footer_copyright_label: str #}
{# - footer_site_made_by_label: str #}
{# - footer_site_made_by_href: str #}
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            {% for page in footer_external_pages%}
                <li><a href="{{ page.link }}" class="icon brands alt {{ page.fa_icon }}"><span class="label">
                    {{ page.name }}
                </span></a></li>
            {% endfor %}
        </ul>
        <ul class="copyright">
            <li>© {{ footer_copyright_label }}</li>
            <li>Site made by: <a href="{{ footer_site_made_by_href }}">{{ footer_site_made_by_label }}</a></li>
        </ul>
    </div>
</footer>