{# menu.html #}
<nav id="menu">
    <div class="inner">
        <ul class="links">
            {% for category in menu_categories %}
                <li><a href="{% url 'product_list_of_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="actions stacked">
            <li><a href="#" class="button fit">О нас</a></li>
            <li><a href="{% url 'cart_details' %}" class="button primary fit">Корзина</a></li>
        </ul>
    </div>
    <a class="close" href="#menu">Close</a>
</nav>