<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_list_of_category' product.category.slug %}">{{ product.category.name }}</a> :
                <a href="{% url 'product_details' product.slug %}">{{ product.name }}</a> :
                {{ product.price }} : {{ product.stock }} : {{ product.preview_description }}</li>
        {% endfor %}
    </ul>

</body>
</html>